body{
    background-image: url(../images/pattern.jpg);
    background-repeat: repeat;
    background-attachment: fixed; 
}

.container {
    background-color: #424242;
    width: 80%;
    /* height: 800px; */
}
.col{
    text-align: center;
}

button{
    padding: 200px;
    width: 250px !important;
}
p, h1, h2, h3{
    color: white;
}
.game_area{
    padding : 30px;
}
.game_area > div {
    padding : 20px;
}
#curtains{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#people{
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.answer_img{
    width: 400px;
    height: auto;
}